<h1>Editing attendant</h1>

<%= render "form", attendant: @attendant %>

<br>

<div>
  <%= link_to "Show this attendant", @attendant %> |
  <%= link_to "Back to attendants", attendants_path %>
</div>
